body {
    font-family: Open sans, sans-serif;
    font-size: 1em;
    background: #fff;
    text-align: center;
}
.container {
    display: inline-block;
    margin: auto;
    margin-top: 10%;
}

canvas {
    z-index: 1;
    width: 320px;
    height: 200px;
    border: 1px solid black;
}